<% include ../partials/header %>

<center><h1 ><%= fullname %></h1></center>
<center><img src="https://cdn-images-1.medium.com/max/1600/1*NVE5rGQCeWkew_-426-3fQ.jpeg"width="500"</center>
<ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %></li>
    <% }); %>
</ul>
<h3><%= bdate %></h3>

<% include ../partials/footer %>